<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<div>
		<div th:replace="~{commons/header :: header}"></div>
		<div th:replace="${!#strings.isEmpty(infoMessage)} ? ~{commons/messages :: messageSuccess(${infoMessage})} : ~{}"></div>
		<section class="section">
			<div class="container">
				<form action="/todos" th:method="POST">
					<ol class="list is-hoverable">
						<li class="list-item" th:each="todo : ${todos}">
							<input type="hidden" th:value="${todo.id}" />
							<span th:text="${todo.title}"></span>
							<a class="button" th:href="@{'/todos/' + ${todo.id} + '/edit'}">Edit</a>
							<a class="button is-danger" th:href="@{'/todos/' + ${todo.id} + '/delete'}">Delete</a>
						</li>
					</ol>
					<div class="control">
						<a class="button" href="/todos/new">new</a>
					</div>
				</form>
			</div>
		</section>
		<div th:replace="~{commons/footer :: footer}"></div>		
	</div>
</body>
</html>