<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div class="container" th:fragment="messageSuccess (message)">
		<article class="message is-success">
		  <div class="message-header">
		    <p>Success</p>
		  </div>
		  <div class="message-body">
		  	[[${message}]]
		  </div>
		</article>
	</div>

	<div class="container" th:fragment="messageError (message)">
		<article class="message is-danger">
		  <div class="message-header">
		    <p>Error</p>
		  </div>
		  <div class="message-body">
		    [[${message}]]
		  </div>
		</article>
	</div>

</body>
</html>