<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<section class="section">
		<div class="container">
			<article class="message is-success" th:fragment="messageSuccess">
			  <div class="message-header">
			    <p>Success</p>
			    <button class="delete" aria-label="delete"></button>
			  </div>
			  <div class="message-body">
			  	[[${param.infoMessage}]]
			  </div>
			</article>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<article class="message is-danger" th:fragment="messageError">
			  <div class="message-header">
			    <p>Danger</p>
			    <button class="delete" aria-label="delete"></button>
			  </div>
			  <div class="message-body">
			    [[${param.errorMessage}]]
			  </div>
			</article>
		</div>
	</section>

</body>
</html>